.article-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article-wrapper{
  height: 93vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}
.article-comp{
  margin: 20px 100px 0px 100px;
  width: 300px;
  height: 370px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: left;  
}
.article-comp:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article-comp-wrapper{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;

}
.article-title{
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.article-img{
  width: 100%;
  height: 50%;
  box-shadow:grey;
  align-self: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.article-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:5px;
  text-align: center;
  align-self: center; 
  word-break: break-word; 
  table-layout:fixed;
  width: 90%;
}
.author{
 font-weight: bold; 
}
.authorname{
  font-size:large;
  margin-left: 5px;
}
.kategori{
  font-weight: bold;
}
.article-button{
  height: 100px;
  background-color: #77f4bb;
  cursor: pointer;
  text-decoration: none;
  border:none;
  color: white;
}
.article-button:hover{
  background: rgb(119,244,187);
  background: linear-gradient(264deg, rgba(119,244,187,1) 0%, rgba(6,255,105,1) 45%, rgba(0,255,238,1) 100%);
  animation: button 4s ease infinite;
}


@keyframes button {
	0% {
		opacity: 20%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}


/* Detail */

.detail-cotainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.detail-button{
  font-size: 50px;
  font-weight:lighter;
   
  width: 50px;
  height: 50px;
  align-self: center;
}
.detail-backicon{
  width: 50px;
  height: 50px;
  align-self: start;
  transform: rotate(180deg);
}
.detail-left{
  width: 50px;
  height: 50px;
  margin-right: 202px;
  align-self: center;
}
.detail-right{
  width: 50px;
  height: 50px;
  align-self: center;
  rotate: 180;
  transform: rotate(180deg);
}
.detail-wrapper-left{
  width: 50%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-wrapper-right{
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;  
  }
.detail-comp{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-left-img{
  width: 50%;
  height: 80%;
  display: flex;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail{
  display: flex;  
  text-align: center;
  align-content: center;
  align-self: center;
  height: 4%;
}
.title{
  text-align: center;
  font-size: 20px;
  height: 10%;
  font-weight: bold;
  margin-top: 10%;
}
.author{
  font-weight: normal;
}
.category{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
}
.aricle{
  width: 80%;
}


/* LİST CSS*/
.list-continer{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-wrapper{
  align-items: center;
  align-content: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
.author-list-component
{
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  display: flex;
  align-items: center;
}
.author-list-wrapper
{
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 25%;
}
.ilk{
  border-radius: 5px 0px 0px 5px;
}
.list-text{
  margin:0 10px 0 10px;
	display:table;
  margin-left: 10px;
  text-align: center;

}
.list-button{
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}
.component-container{
  width: 33%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
} 
.create-container{
  width: 200px;
  align-content: center;
  align-content: center;
  text-align: center;
 
}
/* form */
.form-container{
  width: 100%;
  height: 70vh;
  flex-wrap: wrap;
  display:flex;
  justify-content: space-around;
  align-items: center;
  left: 0px;
  right: 0px;
}
.form-wrapper {
  background-color: #fff ;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 35%;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.field{
  width: 90%;

  padding-left:10%
}
.form-button{
  display: flex;
  width: 100%;
  justify-content: center;
}
.form-text{
  text-align: center;
}
